.faq-container {
  display: flex;
}

.faq-bot-model-container {
  width: 650px;
  background-color: antiquewhite;
  height: calc(100vh - 200px);
}

.faq-client-model-container {
  width: 650px;
  background-color: antiquewhite;
  height: calc(100vh - 200px);
}

.faq-chat-container {
  padding: 0 20px;
  width: 100%;
  height: calc(100vh - 200px);
}

.rsc-container {
  height: calc(100vh - 200px) !important;
}

.rsc-content {
  height: calc(100vh - 200px) !important;
}

.rsc-os-option {
  /* display: block !important;
  margin-left: 60px !important; */
}

@media (max-width: 1450px) {
  .faq-bot-model-container {
    display: none;
    width: 0;
  }

  .faq-client-model-container {
    display: none;
    width: 0;
  }
}
